{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c883358289.js" crossorigin="anonymous"></script>
    <title>Story</title>
    {% block meta%}
    {% endblock meta%}
</head>

{% block style %}

{% endblock style %}

<body>
  {% block content %}

  {% endblock content %}
</body>
</html>