<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    #nav {
        background-color: #FAFAFA;
        position: fixed; 
        top: 0; 
        width: 100%;
        z-index: 10;
        overflow: hidden;
    }

    .topnav {
        max-width: 1170px;
        padding: 0 30px;
        margin: 0 auto;
    }
    .topnav p {
        display: block;
        color: #1A1916;
        text-align: center;
        padding: 14px 16px;
    }

    .topnav a {
        float: left;
        display: block;
        color: #1A1916;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .topnav a:hover {
        background-color: rgb(238, 238, 238);
        color: #FC7E00;
    }

    .topnav a.active {
        background-color: #4CAF50;
        color: white;
    }

    .topnav .icon {
        display: none;
    }

    .topnav .log {
        float: right;
    }

@media only screen and (max-width: 800px) {
    /* #nav {
        position: relative; 
    } */
    .topnav {
        display: block;
        width: 100%;
        text-align: left;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
        /* padding-top: 10px; */
        padding-bottom: 10px;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 20px;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav p {
        display: none;
    }
}
</style>
<body>
    <div id="nav">
        <div id="myTopNav" class="topnav" >
            <a href="/#cover">nata</a>
            <a href="/#story">story</a>
            <!-- <a href="{% url 'story3:photos' %}">gallery</a>
            <a href="{% url 'story5:showform' %}">schedule</a>
            <a href="{% url 'story6:index' %}">agenda</a> -->
            {% if not user.is_authenticated %}
            <a class="log" href="/login">login</a>
            {% else %}
            <a class="log" href="/logout">logout</a>
            <p class="log">Hi, {{user.get_username}}</p>
            {% endif %}

            <a href="javascript:void(0)" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
                {% if user.is_authenticated %}
                 Hi, {{user.get_username}}
                {% endif %}
            </a>
        </div>
    </div>
</body>
<script>
    function myFunction() {
      var x = document.getElementById("myTopNav");
      console.log("clicked");
      if (x.className === "topnav") {
        x.className += " responsive";
        console.log("if");
      } else {
        x.className = "topnav";
        console.log("else")
      }
    }
    </script>
</html>