{% extends 'index.html' %}
{% load static %}

{% block meta %}
<title>BOOK</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src={% static "script/buku.js" %}></script>
{% endblock meta %}

{% block style %}
<style>

input {
    width: 800px;
    margin-top: 50px;
    padding: 10px 20px;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
}

#buku{
    min-height: 100vh;
    padding: 30px 0;
    text-align: center;
    background-image: url("https://i.ibb.co/Lv7Qw65/Group-2.png");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
}

table {
    margin: 20px;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, #fafafa,#a0a0a025);
    border: 3px solid #fafafa;
}

td {
    width: 400px;
    padding: 5px;
    padding: 0 30px;
    margin: 0;
}

#title {
    color: rgba(80, 80, 80, 0.973);
    font-weight: bold;
    font-size: 14px;
    padding: 30px 50px 10px 50px;
    border-top-left-radius: 15px;
    background-image: linear-gradient(to bottom, #fafafa,#fafafa00);

}

#image-book {
    border-radius: 15px;
}

img {
    border-top: 3px solid rgb(70, 70, 70); 
    padding: 20px 0;
}

@media only screen and (max-width: 800px) {
#title {
    padding: 30px 30px 5px 30px;
    font-size: 12px;
}
input {
    width: 75vw;
    margin: 30px 0 20px 0;
}
table {
    margin: 10px 0;
}
td {
    padding: 0px;
}
}
</style>
{% endblock style %}

{% block content %}
{% include 'navbar.html' %}

<div id="buku">
    <div class="container">
        <input id="search-box" placeholder="Ex: Sherlock Holmes">
        <div id="content">

        </div>
    </div>
</div>
  
{% include 'footer.html' %}
{% endblock content %}