{% extends 'index.html' %}
{% load static %}

{% block meta %}
<title>Nat Schedule</title>
{% endblock meta %}

{% block style %}
<style>

#form-table{
  min-height: 100vh;
  padding-bottom: 50px;
}

.container2 {
  max-width: 1050px;
  padding: 0 30px;
  margin: 0 auto;
  height: 100%;
}

#cover {
  text-align: center;
  background-image: url("https://i.ibb.co/Lv7Qw65/Group-2.png");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 1px 0 60px 0;
}

.tittle {
  width: 100%;
  text-align: center;
  padding: 40px 0;
  margin: 100px 0 20px 0;
}

.tittle h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.title{
    display: flex;
    justify-content: space-between;
}

.title a{
  font-size: 24px;
  color: #1A1916;
  text-decoration: none;
}

.title a:hover{
  color: #FC7E00;
}

.kecil{
  font-size: 12px;
  color: #1A1916;
  text-decoration: none;
}

.boxes{
  margin-bottom: 100px;
}

.box a{
  display: contents;
}

.box {
  margin: 15px;
  padding: 20px;
  width: 25%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.box:hover{
  border: 1px solid #1a1916;
}

.box h1 {
  font-size: 18px;
  padding-bottom: 15px;
  overflow: hidden;
}

.button:hover{
  background-color: #FC7E00;
}

.kosonk{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.kosonk img{
  margin-top: 30px;
  width: 200px;
}

.bgwhite {
  background-color:white;
  border: 5px solid black;
  border-radius: 20px;
}

.bgblack{
  background-image: url("https://cutewallpaper.org/21/black-background-gif/Pin-on-Super-gif.gif");
  background-size: cover;
  background-attachment: fixed;
  border-radius: 20px;
  color: white;
}

form{
  width: 80%;
  margin: 0 auto;
  padding: 60px 0;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  float: right;
  min-width: 100px;
  background-color: #22211d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #c96400;
}

td{
    padding-right: 10px;
}

@media only screen and (max-width: 800px) {
.box {
  width: 100%;
}
.title a{
  font-size: 18px;
}
.title h1{
  font-size: 14px;
}
.tittle h1{
  font-size: 18px;
}
.kosonk h1{
  padding: 0 50px;
  font-size: 18px;
}
.kosonk img{
  width: 150px;
}
}

</style>
{% endblock style %}

{% block content %}
{% include 'navbar.html' %}
<div id="form-table">
    <div class="container2">
        <div class="boxes">
            <div class="tittle center">
                <h1>AGENDA</h1>
                <p>AM I BUSY? YES I AM</p>
            </div>

            {% if acara_detail %}
                {% for acara in acara_detail %}
        
                <div class="box">
                    <div class="title">
                        <h1>{{ acara.0.nama_acara }}</h1>
                        <a href="{{ acara.0.id }}/deleteacara"><i class="fas fa-trash-alt"></i></a>
                    </div>
                    {% if acara.1 %}
                    {% for peserta in acara.1 %}
                    <table>
                        <tr>
                            <td><a href="{{ peserta.id }}/deletepeserta"><i class="kecil fas fa-trash-alt"></i></a></td>
                            <td class="hlight">{{ peserta.nama_peserta }}</td>
                        </tr>
                    </table>
                    {% endfor %} 
                    {% else %}
                    <table>
                        <tr>
                            <td class="hlight">Tidak Ada Peserta</td>
                        </tr>
                    </table>
                    {% endif %}
                </div>
                {% endfor %}
            {% else %}
                <div class="kosonk center">
                    <img src="https://media3.giphy.com/media/3o7WIx7urV838kHFzW/source.gif" alt="">
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div id="cover">
    <div class="container2">
        <div class="tittle center bgblack">
            <h1>ADD AGENDA</h1>
            <p>FILL THE FORM BELOW</p>
        </div>
        <div class="container2 center bgwhite">
            <form method="POST" action="">
                {% csrf_token %}
                {{ form_acara }}
                <input class="btn" type="submit" value="tambah">
            </form>
        </div>

        <div class="tittle center bgblack">
            <h1>ADD ATTENDEE</h1>
            <p>FILL THE FORM BELOW</p>
        </div>
        <div class="container2 center bgwhite">
            <form method="POST" action="">
                {% csrf_token %}
                {{ form_peserta }}
                <input class="btn" type="submit" value="tambah">
            </form>
        </div>
  </div>
</div>
  
{% include 'footer.html' %}
{% endblock content %}
