{% extends 'index.html' %}
{% load static %}

{% block meta %}
<title>Story 1</title>
{% endblock meta %}

{% block style %}
<style>
    body {
        background-color:#1A1916;
        font-family: 'DM Sans', sans-serif;
    }

    h1 {
        font-size: 24px;
    }

    .container {
        max-width: 1170px;
        padding: 0 15px;
        margin: 0 auto;
    }

    .boxes {
        display: flex;
        flex-wrap: wrap;
    }

    .box {
        flex: auto;
        min-height: 670px;
    }

    .one {
        background-color: #F3C89D;
        text-align: center;
        width: 30%;
        height: 100vh;
        position: relative;
    }

    .two {
        width: 60%;
        height: 100vh;
        position: relative;
    }

    .primary img{
        width: 200px;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    .secondary {
        margin-top: 90px;
    }

    .subs {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .sub {
        margin: 30px 0px 30px 50px;
        color: #F7F7F7;
    }

    .sub p {
        margin: 10px 0;
    }

    .sub h1, .tahun {
        color: #F3C89D;
    }

    td {
        padding-right: 40px;
    }

    .sub a {
        margin-top: 10px;
        padding-right: 20px;
        color: #F3C89D;
        font-size: 28px;
    }

    .sub a:hover {
        color: #F7F7F7;
    }
    
@media only screen and (max-width: 800px) {
    h1 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    .container {
        min-width: 400px;
        padding: 0;
    }

    .box {
        width: 100%;
        height: 100vh;
    }
    
    .sub {
        margin: 30px 
        50px;
    }

    .sub a {
        font-size: 18px;
    }
}

</style>
{% endblock style %}

{% block content %}
<div class="container">
    <div class="boxes">
        <div class="box one">
            <div class="subs">
                <div class="primary">
                    <img src="{% static 'pict.jpg' %}" alt="">
                    <h1>Natasya Zahra</h1>
                    <p>1906293253</p>
                </div>
                <div class="secondary">
                    <p>Ilmu Komputer'19</p>
                    <p>Universitas Indonesia</p>
                </div>
            </div>
        </div>
        <div class="box two">
            <div class="subs">
                <div class="sub">
                    <h1>Who Am I?</h1>
                    <p>I am an ordinary girl who tries her best on anything she does.</p>
                </div>
                <div class="sub">
                    <h1>Leisure-Time Activities</h1>
                    <p>I like to see other people's lives on YouTube and play sudoku.</p>
                </div>
                <div class="sub">
                    <h1>Education Details</h1>
                    <table>
                        <tr>
                            <td>Universitas Indonesia</td>
                            <td class="tahun">(2019 - Now)</td>
                        </tr>
                        <tr>
                            <td>SMAN 2 Tangerang Selatan</td>
                            <td class="tahun">(2017 - 2019)</td>
                        </tr>
                        <tr>
                            <td>SMPN 1 Tangerang Selatan</td>
                            <td class="tahun">(2014 - 2017)</td>
                        </tr>
                        <tr>
                            <td>SDN 3 Jelupang</td>
                            <td class="tahun">(2008 - 2014)</td>
                        </tr>
                    </table>
                </div>
                <div class="sub">
                    <h1>Connect With Me!</h1>
                    <a href="http://instagram.com/natsyz"><i class="fab fa-instagram"></i></a>
                    <a href="http://twitter.com/napnath"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
