{% extends 'index.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock meta %}

{% block style %}
<style>
    .sosmed {
        padding-top: 30px;
    }

    .sosmed a {
        padding: 0 10px;
        color: #F3C89D;
    }

    .sosmed a:hover {
        color: #F2F2F2;
    }

    .boxes {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    #cover2 {
        background-image: url("static/img/texture.gif");
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
        text-align: center;
    }

    #cover2 h1 {
        text-align: center;
        color: #FAFAFA;
        font-size: 64px;
    }

    #gallery {
        background-image: linear-gradient(#020300, #1A1916);
    }

    #gallery .box {
        width: 20%;
        height: 80vh;
        padding: 100px 10px 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #F2F2F2;
    }

    #gallery .box p {
        width: 60%;
    }

    #gallery img {
        transform: rotate(-6deg);
        transition: 200ms;
    }

    #gallery img:hover {
        transform: rotate(0deg);
    }

    .last {
        margin-bottom: 100px;
    }

@media only screen and (max-width: 800px) {
    #cover2 h1 {
        font-size: 32pt;
    }
    
    #gallery .boxes {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    #gallery .box {
        width: 100%;
        height: auto;
        text-align: center;
    }

    #gallery img {
        transform: rotate(0deg);
        transition: 0ms;
    }

    .last {
        margin-bottom: 0;
    }
}
</style>
{% endblock style %}

{% block content %}
{% include 'navbar.html' %}
<div id="cover2">
    <div class="container">
        <div class="center">
            <h1>aquí,<br>imágenes</h1>
            <div class="sosmed">
                <a href="http://instagram.com/natsyz" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="http://twitter.com/napnath" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/natasya-zahra-261756199/" target="_blank"><i class="fab fa-linkedin-in"></i></a>              
            </div>
        </div>
    </div>
</div>
<div id="gallery">
    <div class="container">
        <div class="boxes center">
            <div class="box">
                <img src="{% static 'img/photo01.png' %}" alt="">
            </div>
            <div class="box">
                <h1>01</h1><br>
                <p class="hlight">Junior High is probably the best moment that i’ve ever had.</p>
                <br>
                <p>Here, me with the very lovely person i’ve ever know. My bestfriend, and my crush (still).</p>
            </div>
        </div>
        <div class="boxes">
            <div class="box">
                <img src="{% static 'img/photo02.png' %}" alt="">
            </div>
            <div class="box">
                <h1>02</h1><br>
                <p class="hlight">Shot inside public mini bus (angkot) on my way home from highschool.</p>
                <br>
                <p>Stress.</p>
            </div>
        </div>
        <div class="boxes">
            <div class="box">
                <img src="{% static 'img/photo03.png' %}" alt="">
            </div>
            <div class="box last">
                <h1>03</h1><br>
                <p class="hlight">An event, a good one. The trees was nice.</p>
                <br>
                <p>Hopefully i could go here really soon.</p>
                <button type="button" onclick="location.href='#cover2'" class="btn btn-dark btn-sm" href="#cover2">
                    up
                </button>
                <br>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock content %}