{% extends 'index.html' %}
{% load static %}

{% block meta %}
<title>Nat Schedule</title>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src={% static "script/script.js" %}></script>
{% endblock meta %}

{% block style %}
<style>

#profile{
    min-height: 100vh;
    padding: 30px 0;
    text-align: center;
    background-image: url("https://i.ibb.co/Lv7Qw65/Group-2.png");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

#accordion {
    width: 600px;
    margin: 0 auto;
}

.cover {
    width: 100%;
    padding: 10px 20px;
    margin: 20px 0 0 0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #4e4e4e;
    color: #FAFAFA;
}
.cover:hover {
    background-color: #1A1916;
}

.ui-accordion .ui-accordion-content{
    box-sizing:content-box;             
    -moz-box-sizing:content-box;
    background-color: #FAFAFA;
    padding: 20px;
    border: 2px solid  #4e4e4e;
    border-radius: 10px;
}

button {
    border: none;
    padding: node;
    margin: 0 5px;
    text-decoration: none;
    background: none;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.btn {
    display: flex;
    flex-direction: column;
}

img {
    padding-top: 50px;
    width: 200px;
}

#accordion img {
    width: 250px;
    border-radius: 50%;
    padding-top: 20px;
}

@media only screen and (max-width: 800px) {
img {
    width: 150px;
}
h4 {
    font-size: 12px;
}
#accordion {
    max-width: 75px;
    min-width: 75vw;
}
#accordion img {
    width: 150px;
}
}
</style>
{% endblock style %}

{% block content %}
{% include 'navbar.html' %}
<div id="profile">
    <div class="container">
        <img src="https://assets.stickpng.com/images/5a4613e5d099a2ad03f9c995.png" alt="">
        <div id="accordion">
            <div class="cover">
                <h4 id="title-1"> </h4>
                <div class="btn">
                    <button value="1" class="btn-up"><i class="fas fa-chevron-up"></i></button>
                    <button value="1" class="btn-down"><i class="fas fa-chevron-down"></i></button>
                </div>
            </div>
            <div>
                <div id="content-1">
                
                </div>
            </div>
            <div class="cover">
                <h4 id="title-2"> </h4>
                <div class="btn">
                    <button value="2" class="btn-up"><i class="fas fa-chevron-up"></i></button>
                    <button value="2" class="btn-down"><i class="fas fa-chevron-down"></i></button>
                </div>
            </div>
            <div>
                <div id="content-2">
                
                </div>
            </div>
            <div class="cover">
                <h4 id="title-3"> </h4>
                <div class="btn">
                    <button value="3" class="btn-up"><i class="fas fa-chevron-up"></i></button>
                    <button value="3" class="btn-down"><i class="fas fa-chevron-down"></i></button>
                </div>
            </div>
            <div>
                <div id="content-3">
                
                </div>
            </div>
            <div class="cover">
                <h4 id="title-4"> </h4>
                <div class="btn">
                    <button value="4" class="btn-up"><i class="fas fa-chevron-up"></i></button>
                    <button value="4" class="btn-down"><i class="fas fa-chevron-down"></i></button>
                </div>
            </div>
            <div>
                <div id="content-4">
                
                </div>
            </div>
        </div>
    </div>
</div>
  
{% include 'footer.html' %}
{% endblock content %}