{% extends 'index.html' %}
{% load static %}

{% block meta %}
<title>Add Schedule</title>
{% endblock meta %}

{% block style %}
<style>

.jadwal{
  background-image: url("https://i.ibb.co/Lv7Qw65/Group-2.png");
  background-size: cover;
  background-attachment: fixed;
  padding-top: 20px;
  padding-bottom: 40px;
}

.container2 {
  max-width: 900px;
  padding: 0 30px;
  margin: 0 auto;
  height: 100%;
}

#cover {
  height: 200px;
  margin-bottom: 20px;
  color:white;
}

#cover h1 {
  text-align: center;
}

.bgblack{
  background-image: url("https://cutewallpaper.org/21/black-background-gif/Pin-on-Super-gif.gif");
  background-size: cover;
  background-attachment: fixed;
  border-radius: 20px;
}

.bgwhite {
  background-color:white;
  border: 5px solid black;
  border-radius: 20px;
}

.title {
  text-align: center;
  margin: 60px 0;
}

.title h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

form{
  width: 80%;
  margin: 0 auto;
  padding: 60px 0;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  float: right;
  min-width: 100px;
  background-color: #22211d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #c96400;
}

.button {
  position: fixed;
  bottom: 35px;
  right: 35px;
  background-color:  #111111;
  border: none;
  color: white;
  padding: 15px 17px;
  text-decoration: none;
  font-size: 24px;
  border-radius: 50%;
}

.button:hover{
  background-color: #FC7E00;
}


@media only screen and (max-width: 800px) {
.jadwal{
  background-image: url("https://cutewallpaper.org/21/black-background-gif/Pin-on-Super-gif.gif");
}

.bgwhite {
  margin: 0 30px;
  font-size: 14px;
}

#cover {
  height: 100px;
}
.title h1 {
  font-size: 18px;
}
form{
  width: 100%;
}
}
</style>
{% endblock style %}


{% block content %}
{% include 'navbar.html' %}

<div class="jadwal">
  <div id="cover">
    <div class="container2 bgblack">
      <div class="title center">
        <h1>ADD SCHEDULE</h1>
        <p>FILL THE FORM BELOW</p>
      </div>
    </div>
  </div>
  <a href="{% url 'story5:showform' %}" class="button"><i class="fas fa-table"></i></a>
  <div id="form">
      <div class="container2 center bgwhite">
          {% if user.is_authenticated %}

          <form method="POST" action="/saveform/">
            {% csrf_token %}
            {{ input_form }}
            <input class="btn" type="submit" value="tambah">
          </form>

          {% else %}
          <img src="https://i.pinimg.com/originals/eb/17/d0/eb17d0925c49ef13af6e84cdfeaad079.gif" alt="">
          {% endif %}
      </div>
  </div>
</div>

{% include 'footer.html' %}
{% endblock content %}
