{% extends 'index.html' %}
{% load static %}

{% block meta %}
<title>Nat Story</title>
{% endblock meta %}

{% block style %}
<style>

.details {
    height: calc(100vh - 53px);
    overflow: hidden;
}
.container2 {
    max-width: 1050px;
    padding: 0 30px;
    margin: 0 auto;
}
.tittle {
    width: 100%;
    text-align: center;
    padding: 100px 0 40px 0;
}
.tittle h1 {
    font-size: 24px;
    margin-bottom: 5px;
}
.title h1{
    font-size: 32px;
    color: #1A1916;
    margin-bottom: 15px;
}

.details p{
    padding-bottom: 15px;
}

.hlight{
    font-size: 18px;
}


@media only screen and (max-width: 800px) {
.details {
    min-height: 100vh;
    padding: 100px 20px 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tittle{
    display: none;
}
.title h1{
    font-size: 20px;
    margin-bottom: 30px;
}
.hlight{
    font-size: 14px;
    padding-bottom: 5px;
}
}

</style>
{% endblock style %}

{% block content %}
{% include 'navbar.html' %}
<div class="details">
    <div class="container2">
        {% if user.is_authenticated %}
        <div class="tittle center">
            <h1>DETAILS</h1>
            <p>LET'S HAVE A LOOK</p>
        </div>

        <div class="title">
            <h1>{{ item.nama_mata_kuliah }}</h1>
        </div>

        <h1 class="hlight">Dosen Pengajar</h1>
        <p>{{ item.dosen_pengajar }}</p>

        <h1 class="hlight">Jumlah SKS</h1>
        <p>{{ item.jumlah_sks }}</p>

        <h1 class="hlight">Deskripsi</h1>
        <p>{{ item.deskripsi_mata_kuliah }}</p>

        <h1 class="hlight">Tahun Ajar</h1>
        <p>{{ item.tahun_ajar }}</p>

        <h1 class="hlight">Ruang Kelas</h1>
        <p>{{ item.ruang_kelas }}</p>

        {% else %}
        <h1>PLEASE LOGIN TO ACCESS</h1>
        <img src="https://i.pinimg.com/originals/eb/17/d0/eb17d0925c49ef13af6e84cdfeaad079.gif" alt="">
        {% endif %}
    </div>
</div>
{% include 'footer.html' %}
{% endblock content %}
