{% extends 'index.html' %}
{% load static %}

{% block meta %}
<title>Nat Schedule</title>
{% endblock meta %}

{% block style %}
<style>

.container2 {
  max-width: 1050px;
  padding: 0 30px;
  margin: 0 auto;
  height: 100%;
}

#cover {
  text-align: center;
  background-image: url("https://i.ibb.co/Lv7Qw65/Group-2.png");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

#cover h1 {
  text-align: center;
  color: #1A1916;
  font-size: 64px;
}

.sosmed {
  padding-top: 20px;
}

.sosmed a {
  padding: 0 10px;
  font-size: 24px;
  color: black;
}

.sosmed a:hover {
  color: #FC7E00;
}

.tittle {
  width: 100%;
  text-align: center;
  margin: 60px 0;
}

.tittle h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.title{
    display: flex;
    justify-content: space-between;
}

.title a{
  font-size: 24px;
  color: #1A1916;
  text-decoration: none;
}

.title a:hover{
  color: #FC7E00;
}

.boxes{
  margin-bottom: 100px;
}

.box a{
  display: contents;
}

.box {
  margin: 15px;
  padding: 20px;
  width: 25%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.box:hover{
  border: 1px solid #1a1916;
}

.box h1 {
  font-size: 18px;
  padding-bottom: 15px;
  overflow: hidden;
}

.button {
  position: fixed;
  bottom: 35px;
  right: 35px;
  background-color:  #111111;
  border: none;
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 24px;
  border-radius: 50%;
}

.button:hover{
  background-color: #FC7E00;
}

.kosonk{
  width: 100%;
  height: calc(100vh - 148px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.kosonk h1{
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
}
.kosonk img{
  width: 200px;
}

@media only screen and (max-width: 800px) {
#cover h1 {
  padding: 0 20px;
  font-size: 32px;
}
.box {
  width: 100%;
}
.title a{
  font-size: 18px;
}
.title h1{
  font-size: 14px;
}
.tittle h1{
  font-size: 18px;
}
.kosonk h1{
  padding: 0 50px;
  font-size: 18px;
}
.kosonk img{
  width: 150px;
}
}

</style>
{% endblock style %}

{% block content %}
{% include 'navbar.html' %}
<div id="cover">
  <div class="container2">
    <div class="center">
        <h1>mira mi horario aquí</h1>
        <div class="sosmed">
          <a href="http://instagram.com/natsyz" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="http://twitter.com/napnath" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/natasya-zahra-261756199/" target="_blank"><i class="fab fa-linkedin-in"></i></a>              
        </div>
    </div>
</div>
</div>
<a href="{% url 'story5:addform' %}" class="button"><i class="fas fa-plus"></i></i></a>
<div id="form-table">
  <div class="container2">
    <div class="boxes">
      {% if user.is_authenticated %}
      {% if form_table %}
      <div class="tittle center">
        <h1>SCHEDULE</h1>
        <p>AM I BUSY? YES I AM</p>
      </div>
      {% for item in form_table %}
      
      <div class="box" onclick="location.href='details/{{ item.id }}';">
        <div class="title">
            <h1>{{ item.nama_mata_kuliah }}</h1>
            <a href="{{ item.id }}/delete"><i class="fas fa-trash-alt"></i></a>
        </div>
        <table>
          <tr>
            <td class="hlight">{{ item.tahun_ajar }}</td>
          </tr>
        </table>   
      </div>
      {% endfor %}
      {% else %}
      <div class="kosonk center">
        <h1>IT SEEMS YOU CAN RELAX A LIL BIT!</h1>
        <img src="https://media3.giphy.com/media/3o7WIx7urV838kHFzW/source.gif" alt="">
      </div>
      {% endif %}
      {% else %}
      <div class="kosonk center">
        <h1>PLEASE LOGIN TO ACCESS</h1>
        <img src="https://i.pinimg.com/originals/eb/17/d0/eb17d0925c49ef13af6e84cdfeaad079.gif" alt="">
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% endblock content %}
