* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;
  height: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.hlight {
    color: #FC7E00;
  }

.boxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.box {
    flex: auto;
}


@media only screen and (max-width: 800px) {
  p, table {
      font-size: 12px;
  }

  .container {
      min-width: 300px;
      padding: 30px;
  }

  .hide{
      display: none;
  }

  .boxes {
      padding: 0;
  }

  .box {
      width: 100%;
      padding: 0;
      padding-bottom: 20px;
  }
}
