{% extends 'index.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block style %}
<style>


.login{
  background-image: url("https://i.ibb.co/Lv7Qw65/Group-2.png");
  background-size: cover;
  background-attachment: fixed;
  padding-top: 20px;
  padding-bottom: 40px;
  min-height: 100vh;
}

.container2 {
  max-width: 900px;
  padding: 0 30px;
  margin: 0 auto;
  height: 100%;
}

#cover {
  height: 200px;
  margin-bottom: 20px;
  color:white;
}

#cover h1 {
  text-align: center;
}

.bgblack{
  background-image: url("https://cutewallpaper.org/21/black-background-gif/Pin-on-Super-gif.gif");
  background-size: cover;
  background-attachment: fixed;
  border-radius: 20px;
}

.bgwhite {
  background-color:white;
  border: 5px solid black;
  border-radius: 20px;
}

.title {
  text-align: center;
  margin: 60px 0;
}

.title h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

form{
  width: 80%;
  margin: 0 auto;
  padding: 60px 0;
}

.message {
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

li {
  list-style: none;
}

label {
  display: block;
  padding-top: 15px;
}

input[type=text], input[type=password], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  float: right;
  min-width: 100px;
  background-color: #22211d;
  color: white;
  padding: 14px 20px;
  margin-top: 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #c96400;
}

.button {
  position: fixed;
  bottom: 35px;
  right: 35px;
  background-color:  #111111;
  border: none;
  color: white;
  padding: 15px 17px;
  text-decoration: none;
  font-size: 24px;
  border-radius: 50%;
}

.button:hover{
  background-color: #FC7E00;
}


@media only screen and (max-width: 800px) {
.login{
  background-image: url("https://cutewallpaper.org/21/black-background-gif/Pin-on-Super-gif.gif");
}

.bgwhite {
  margin: 0 30px;
  font-size: 14px;
}

#cover {
  height: 100px;
}
.title h1 {
  font-size: 18px;
}
form{
  width: 100%;
}
}
</style>
{% endblock style %}


{% block content %}
{% include 'navbar.html' %}

<div class="login">
  <div id="cover">
    <div class="container2 bgblack">
      <div class="title center">
        <h1>LOGIN</h1>
        <p>LOGIN fOR fULL ACCESS</p>
      </div>
    </div>
  </div>
  <div id="form">
      <div class="container2 center bgwhite">
          <form method="POST" action="">
            {% if user.is_authenticated %}
            <div class="message" style="background-color: rgb(180, 248, 226);">
              <p>Login success. Hi {{ username }}</p>
            </div>
            {% elif errormsg %}
            <div class="message" style="background-color: bisque;">
              <!-- {% for key in errormsg %}
              {{ key }}
              {% endfor %} -->
              <p>Please enter a correct username and password. Note that both fields may be case-sensitive.</p>
            </div>
            {% endif %}

            
            {% csrf_token %}
            {{ signInForm }}
            <p>Don't have an account? Create one <a href="/signup">here</a></p>
            <input class="btn" type="submit" value="Login">
          </form>
      </div>
  </div>
</div>

{% include 'footer.html' %}
{% endblock content %}
